**/models_cached/*
**/trained_models/*
**/cached_results/*
**/results/*
**/ls_results/*
**/influence_results/*
**/wandb/*
**/DreaMS/*
**/pretrained_models/*
**/best_models/*
**/best_ls_results/*
**/best_ls_results_PREVIOUS/*
**/FT_results/*
**/diagnosis/cache