project: LS
seed: 17
device: 6

data:
  dataset: "canopus"
  data_folder: "/data/rbg/users/klingmin/projects/MS_processing/data/"
  splits_folder: "/data/rbg/users/klingmin/projects/MS_processing/data_splits/"
  split_file: "inchikey_vanilla.json" # Could just use any placeholder
  batch_size: 512
  num_workers: 4
  bin_resolution: 0.25
  max_da: 2000
  max_MS_peaks: 30
  FP_type: "morgan4_4096"
  intensity_type: "raw"
  intensity_threshold: 5.0
  considered_atoms: ["C", "H", "O", "N", "S", "Cl", "Br", "F", "P", "I", "K", "Si", "Na", "Sn"]
  n_frag_candidates: 5
  chemberta_model: "/data/rbg/users/klingmin/projects/ML_MS_analysis/pretrained_models/ChemBERTa-zinc-base-v1"

train_params:
  learning_rate: 0.0005
  weight_decay: 0.00005
  pos_weight: 10.0
  reconstruction_weight: 1.0
  n_outer_loops: 500
  name: "Adam"

splitter:
  patience: 5
  convergence_threshold: 0.003
  num_batches: 100
  w_gap: 1.0
  w_ratio: 1.0
  w_balance: 1.0
  train_ratio: 0.8
  clip_grad_norm: 0

model:
  name: "formula_encoder" # Choices are: binned_MS_encoder, MS_encoder, formula_encoder

  feats_params: 
    include_adduct: True 
    include_CE: True
    include_instrument: True 

  binned_MS_encoder:
    model_dim: 256
    hidden_dim: 1024
    dropout_rate: 0.20

  MS_encoder:
    n_heads: 8
    n_layers: 8
    model_dim: 256
    hidden_dim: 1024
    dropout_rate: 0.20

trainer:
  max_epochs: 500
  devices: 4
  accelerator: "gpu"
  log_every_n_steps: 5

callbacks:
  patience: 20 
  monitor: "val_average_loss"


