project: FP_baselines_w_meta
seed: 17

data:
  dataset: "nist2023"
  data_folder: "/data/rbg/users/klingmin/projects/MS_processing/data/"
  splits_folder: "/data/rbg/users/klingmin/projects/MS_processing/data_splits/"
  split_file: "inchikey_vanilla.json"
  batch_size: 512
  num_workers: 4
  bin_resolution: 0.25
  max_da: 2000
  max_MS_peaks: 30
  FP_type: "morgan4_4096"
  intensity_type: "raw"
  intensity_threshold: 5.0
  considered_atoms: ["C", "H", "O", "N", "S", "Cl", "Br", "F", "P", "I", "K", "Si", "Na", "Sn"]
  n_frag_candidates: 5
  chemberta_model: "/data/rbg/users/klingmin/projects/ML_MS_analysis/pretrained_models/ChemBERTa-zinc-base-v1"

model:
  name: "formula_encoder" # Choices are: binned_MS_encoder, MS_encoder, formula_encoder

  feats_params: 
    include_adduct: True 
    include_CE: True
    include_instrument: True 

  train_params:
    lr: 0.0005
    weight_decay: 0.00005
    pos_weight: 10.0
    reconstruction_weight: 1.0

  binned_MS_encoder:
    model_dim: 256
    hidden_dim: 1024
    dropout_rate: 0.20

  MS_encoder:
    n_heads: 8
    n_layers: 8
    model_dim: 256
    hidden_dim: 1024
    dropout_rate: 0.20

trainer:
  max_epochs: 500
  devices: 4
  accelerator: "gpu"
  log_every_n_steps: 5

callbacks:
  patience: 20 
  monitor: "val_average_loss"


