project: LS
seed: 17
device: 1

dataset:
  fp_names: ["morgan4096"]
  data_folder: "/data/rbg/users/klingmin/projects/MS_processing/data_BM/mist/"
  dataset: "canopus"
  split_filename: "inchikey_vanilla.tsv"
  cache_featurizers: True
  spec_features: "peakformula"
  mol_features: "fingerprint"
  dataset_type: "default"
  cls_type: "ms1"
  magma_aux_loss: True
  magma_modulo: 512

model:

  name: "mist"

  params: 
    form_embedder: "pos-cos"
    magma_loss_lambda: 8
    iterative_preds: "growing"
    iterative_loss_weight: 0.4
    shuffle_train: False 
    loss_fn: "bce"
    pos_weight: 10

    hidden_size: 256
    peak_attn_layers: 2
    set_pooling: "cls"
    spectra_dropout: 0.1
    num_heads: 8 
    pairwise_featurization: True
    embed_instrument: False
    no_diffs: True
    refine_layers: 4
  # ckpt_file: None 

train_params:
  name: "Adam"
  learning_rate: 0.00077
  lr_decay_frac: 0.9
  weight_decay: 1e-7
  scheduler: False
  n_outer_loops: 500 
  
train_settings: 
  batch_size: 512
  num_workers: 4
  augment_data: False  

splitter:
  patience: 20 # in case it is hard to train
  num_batches: 500
  w_gap: 1.0
  w_ratio: 1.0
  w_balance: 1.0
  train_ratio: 0.8
  clip_grad_norm: 0
  monitor: "splitter/loss" # Placeholder for now 
  
splitter_trainer:
  max_epochs: 25
  devices: 2
  limit_val_batches: 0
  accelerator: "gpu"
  gradient_clip_val: 5 

trainer:
  max_epochs: 25
  devices: 2
  log_every_n_steps: 50
  accelerator: "gpu"
  gradient_clip_val: 5 

callbacks: 
  patience: 2
  val_monitor: "val_bce_loss"
